<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2987.1601" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2987.1601" targetFramework="net452" />
  <package id="CefSharp.Common" version="57.0.0" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="57.0.0" targetFramework="net452" />
  <package id="Chart.Mvc" version="1.0.0.2" targetFramework="net452" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net452" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net452" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" />
  <package id="PanelManager" version="1.0.0" targetFramework="net452" />
  <package id="TaskScheduler" version="2.7.2" targetFramework="net452" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net452" />
  <package id="Wpf.Themes.ExpressionDark" version="1.1.0" targetFramework="net452" />
</packages>